<img style="width: 100%" src="../../assets/re2.jpg" class="card-img-top" alt="imagem-do-jogo">
<hr>
<ul>
    <li *ngFor="let review of reviews">
        score: {{ review.score }} descricao: {{ review.description }}
    </li>
</ul>

<div class="input-group mb-3">
    <input type="number" min="0" max="5" class="form-control" placeholder="Nota" #score>
    <input type="text" class="form-control" placeholder="Descrição" #description>
    <button class="btn btn-warning fw-bold" (click)="atualizarTopico(score.value, description.value)">Adicionar avaliação</button>
</div>


